In [1]:
import pandas as pd

#Read the training file
train=pd.read_csv("C:/Users/sanketn/Documents/IU/Kaggle/Project 1/train.csv")
train.head(3)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124

In [2]:
#Read the test file
test=pd.read_csv("C:/Users/sanketn/Documents/IU/Kaggle/Project 1/test.csv")
test.head(3)
#Test file does not have dropoff datatime

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N

In [3]:
#File counts
print("Training count is %i." % train.shape[0])
print("Testing count is %i." % test.shape[0])

Training count is 1458644.
Testing count is 625134.

In [4]:
#let's process missing values
def countMissing(data):
    missing = data.columns[data.isnull().any()].tolist()
    return missing
misTrain = countMissing(train)
misTest = countMissing(test)
misTotal = list(set().union(misTrain, misTest))

In [5]:
print(misTotal, len(misTotal))

[] 0

In [6]:
#Convert the alpha flag to numeric
train.store_and_fwd_flag = train.store_and_fwd_flag.eq('Y').mul(1)
test.store_and_fwd_flag = test.store_and_fwd_flag.eq('Y').mul(1)

In [7]:
#Change the datetime in pandas format
train['pickup_datetime'] = pd.to_datetime(train.pickup_datetime)
test['pickup_datetime'] = pd.to_datetime(test.pickup_datetime)

#Extract day,month,weekday,weekyear,hour,min and dayofyear to build more meaningful features from the original dataset.
train['pickup_day'] = train['pickup_datetime'].dt.day
train['pickup_month'] = train['pickup_datetime'].dt.month
train['pickup_weekday'] = train['pickup_datetime'].dt.weekday
train['pickup_weekofyear'] = train['pickup_datetime'].dt.weekofyear
train['pickup_hour'] = train['pickup_datetime'].dt.hour
train['pickup_minute'] = train['pickup_datetime'].dt.minute
train['pickup_dayofyear'] = train['pickup_datetime'].dt.dayofyear

test['pickup_day'] = test['pickup_datetime'].dt.day
test['pickup_month'] = test['pickup_datetime'].dt.month
test['pickup_weekday'] = test['pickup_datetime'].dt.weekday
test['pickup_weekofyear'] = test['pickup_datetime'].dt.weekofyear
test['pickup_hour'] = test['pickup_datetime'].dt.hour
test['pickup_minute'] = test['pickup_datetime'].dt.minute
test['pickup_dayofyear'] = test['pickup_datetime'].dt.dayofyear

#Caclculate the longitude and latitude distances
train['latitude_dist'] = train['pickup_latitude'] - train['dropoff_latitude']
test['latitude_dist'] = test['pickup_latitude'] - test['dropoff_latitude']

train['longitude_dist'] = train['pickup_longitude'] - train['dropoff_longitude']
test['longitude_dist'] = test['pickup_longitude'] - test['dropoff_longitude']

In [8]:
train.head(3)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_day,pickup_month,pickup_weekday,pickup_weekofyear,pickup_hour,pickup_minute,pickup_dayofyear,latitude_dist,longitude_dist
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,455,14,3,0,11,17,24,74,0.002335,-0.017525
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,663,12,6,6,23,0,43,164,0.007412,0.019066
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,2124,19,1,1,3,11,35,19,0.053852,0.026306

In [9]:
test.head(3)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,pickup_day,pickup_month,pickup_weekday,pickup_weekofyear,pickup_hour,pickup_minute,pickup_dayofyear,latitude_dist,longitude_dist
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,0,30,6,3,26,23,59,182,-0.024651,0.002045
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,0,30,6,3,26,23,59,182,0.024590,-0.004395
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,0,30,6,3,26,23,59,182,0.008060,-0.011276

In [10]:
X = train.drop(['id','trip_duration','pickup_datetime','dropoff_datetime'], axis=1)
Y = train['trip_duration']

In [11]:
#Use RandomForest Regression for this problem with optimized parameters
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, min_samples_leaf=50, min_samples_split=75)

model.fit(X, Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=50,
           min_samples_split=75, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [12]:
predictions=model.predict(test.drop(['id','pickup_datetime'], axis=1))

In [13]:
predictions[:10]

array([1065.96896814,  729.99269384,  477.15698493, 1236.85297687,
        374.36506373, 1120.14996801, 1230.36170862,  882.12589509,
       2642.48803706, 1291.77152489])

In [14]:
X_sample = X[:10000]
Y_sample = Y[:10000]
test_sample = test[:10000]

In [12]:
#Use RandomForest Regression for this problem with optimized parameters
from sklearn import cross_validation
from sklearn import linear_model
alphas = [0.01, 0.1, 1.0, 10]
regs = ["l1", "l2"]
scores = []
param = []
for alpha in alphas:
    for reg in regs:
        lm = linear_model.LogisticRegression(penalty = reg, C = alpha)
        scores.append(cross_validation.cross_val_score(lm, X_sample, Y_sample, scoring="accuracy", cv = 2).mean())
        param.append([alpha, reg])
scores = pd.DataFrame({'parameter': param, 'score': scores})
print(scores.sort_values(by = 'score', ascending = False))

C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)
C:\Users\sanketn\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=2.
  % (min_labels, self.n_folds)), Warning)

    parameter     score
0  [0.01, l1]  0.001631
5   [1.0, l2]  0.001135
4   [1.0, l1]  0.000991
2   [0.1, l1]  0.000931
1  [0.01, l2]  0.000875
3   [0.1, l2]  0.000815
7    [10, l2]  0.000815
6    [10, l1]  0.000611

In [ ]:
#Use the optimized values for regression results
from sklearn import linear_model
res = linear_model.LogisticRegression(penalty = "l1", C = 0.01).fit(X, Y).predict(test_sample.drop(['id','pickup_datetime'], axis=1))